// custom

body {
    overflow-y: hidden;
    background-image: url('./assets/img/login-clouds-demo.svg'); // imports are relative to the file which imports them
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

#Username {
    width: 112%;
    left: -6%;
    background-color: $white;
    font-size: 1.25rem;
}

#Username-icon {
    border: none;
    background-color: $white;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

#Username-input {
    border: none;
    outline: none;
}

#Password {
    width: 112%;
    left: -6%;
    background-color: $white;
    font-size: 1.25rem;
}

#Password-icon {
    border: none;
    background-color: $white;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

#Password-input {
    border: none;
    outline: none;
}

#MinimizedBadgePill {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 15px;
    left: 10px;
    opacity: 0.8;
    color: white;
    z-index: 1000;
}

#MinimizedNavItems {
    line-height: 1em;

    a {
        padding-left: 8px;
    }

    .badge-pill {
        margin-top: 2px;
        top: 8px;
        left: 150px;
        display: block;
    }
}

ul.nav-dropdown-items {
    line-height: 0.2em;
    margin: 0;
    padding: 0;
}

li > a.nav-link > span.badge.badge-pill {
    margin-top: -6px;
}

.brand-minimized li.nav-item.nav-dropdown.open:hover {
    .badge {
        display: none;
    }
}

.support-links {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
}
